* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    color: var(--textcolor);
    scroll-behavior: smooth;
}

:root {
    --textcolor: rgb(40, 40, 40);
    --maincolor: #ff0066;
    --bg: #6e07f3;
}

/* Header */
.header {
    background-image: linear-gradient(180deg, rgb(181, 181, 181), rgba(255, 255, 255));
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1%;
    z-index: 2;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.logo {
    margin-left: 10%;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--maincolor);
}

#menu {
    display: none;
    cursor: pointer;
    z-index: 2;
}

.nav {
    display: flex;
    margin-right: 10%;
    color: var(--textcolor);
}

.nav li {
    margin-right: 2.5rem;
    font-size: 1.2rem;
}
.nav li a{
    color: var(--textcolor);
}
.nav li a:hover {
    color: var(--maincolor);
    transition: .5s;
}

@media(max-width: 768px) {
    .nav {
        display: block;
        position: absolute;
        transition: .1s;
        top: -350%;
        right: -1%;
        left: 8.5%;
        background-color: var(--maincolor);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        /* padding: 2% 50% 2% 2%; */
        border-radius: 5px;
    }

    .nav li {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .nav li a {
        color: white;
    }

    .nav li a:hover {
        color: var(--textcolor);
    }

    #menu {
        color: var(--textcolor);
        display: block;
        margin-right: 5%;
    }

    .nav.open {
        top: 100%;
    }

}


/* landing page */


.landing {
    z-index: 1;
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    top: 10px;
    min-height: 100vh;
}

.me {
    border-radius: 50%;
}

.me:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.landing h2 span {
    color: var(--maincolor);
}

.landing h1 {
    font-size: 2.5rem;
}

.landing p {
    padding: 0 10% 0 10%;
    font-size: 0.9rem;
}

.landing h1 span::before {
    content: "FullStack Developer";
    animation: animate infinite 4s;
}

@keyframes animate {

    0% {
        content: "FullStack Developer";
    }

    25% {
        content: "Software Engineer";
    }

    50% {
        content: "Programmer";
    }

    75% {
        content: "UI/UX Designer";
    }
}

.landing p span {
    font-weight: 500;
}

.socials a {
    font-size: 2rem;
    padding: 0.5rem;
    
}
.socials a i{
    color: var(--textcolor);
}

.socials a i:hover {
    transition: .3s;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: var(--maincolor);
}


/* About Section */


.about {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    min-height: 100vh;
}

.intro {
    text-align: center;
    margin-top: -4em;
}

.intro h1 {
    font-size: 2rem;
}

.myintro {
    text-align: center;
    background-color: var(--bg);
}

.myintro h1 {
    color: white;
    padding: 6% 0 1% 0;
}

.myintro p {
    color: white;
    padding: 0 20% 10% 20%;
    line-height: 2;
}

/* cards */

.abtcards {
    display: flex;
    background-color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    min-height: 500px;
    border-radius: 10px;
    margin: -5% 10% 0 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.abtcards strong{
    color: var(--textcolor);
}
.exp {
    padding: 10%;
    border-right: 1px rgb(212, 212, 212) solid;
}

.exp i {
    padding-bottom: 20%;
    font-size: 2.5rem;
    color: var(--maincolor);
}

.exp i:hover {
    transition: .2s ease-in-out;
    transform: scale(1.2);
}

.exp h1 {
    padding-bottom: 15%;
}

.exp p {
    font-size: 1.2rem;
    padding-bottom: 10%;
}

.skills {
    padding: 10%;
}

.skills i {
    padding-bottom: 20%;
    font-size: 2.5rem;
    color: var(--maincolor);
}

.skills i:hover {
    transition: .2s ease-in-out;
    transform: scale(1.2);
}

.skills h1 {
    padding-bottom: 15%;
}

.skills p {
    font-size: 1.2rem;
    padding-bottom: 10%;
}

@media(max-width:768px) {
    .exp {
        border-right: none;
        border-bottom: 1px rgb(212, 212, 212) solid;
    }

    .skills {
        border-bottom: 1px rgb(212, 212, 212) solid;
    }

    .abtcards {
        flex-direction: column;
    }
}

.contact {
    min-height: 50vh;
    text-align: center;
    margin-top: 6%;
}

.contact h1 {
    font-size: 2rem;
}
.contact h1 i{
    color: var(--maincolor);
}
.left {
    padding: 10%;
    display: flex;
    justify-content: space-around;
}

.bt {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}
.button-content{
    color: var(--textcolor);
}
.bt i{
    color: var(--textcolor);
}
.bt:hover {
    letter-spacing: 3px;
    background-color: var(--maincolor);
    color: hsl(0, 0%, 100%);
    box-shadow: #f15a55 0px 7px 29px 0px;
}

.bt:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

footer{
    background-color: var(--bg);
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.foot p, a, strong,i{
    color: white;

}
.msg{
    width: 40%;
}
.ct{
    display: flex;
    flex-direction: column;
}
.address{
    display: flex;
    flex-direction: column;
}
.copy{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}
